// article.scss

.article-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'sidebar article article';
    max-width: 1200px;
    margin: auto;
    gap: 2rem 2rem;
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 1rem;
}

.sidebar {
    background-color: $background-alternative-color;
    margin-left: 1rem;

    h2 {
        background-color: $accent-color;
        margin: 0;
        padding: 1rem;
        color: $font-alternative-color;
    }

    ul {
        list-style: none;
        padding: 1rem;
    }
}

.sidebar li {
    margin-bottom: 1rem;

    a:hover {
        color: $accent-color;
    }

    a:active {
        color: $base-color;
    }
}


.article {
    background-color: $background-alternative-color;

    h1 {
        background-color: $secondary-color;
        margin: 0;
        padding: 1rem;
        color: $font-alternative-color;
    }

    h2 {
        padding: 1rem;
    }

    h3 {
        padding: 1rem;
    }

    p {
        padding: 1rem;
    }

    pre {
        margin: 1rem;
    }

    table {
        padding: 1rem;
    }

    img {
        display: block;
        width: 100%;
        max-width: 729px;
        justify-content: center;
    }
}

.img-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.excel-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.excel {
    width: 95%;
    height: 320px;
}
