{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="techmain" role="main">
        <div class="landingpage">
            {{ content }}

            {% for page in pages("technology") %}
                <a href="{{ page.url }}">
                <div class="technology">
                    <h2>{{ page.title }}</h2>
                    <p>{{ page.description }}</p>
                </div>
                </a>
            {% endfor %}
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
